#camada1{
      position: absolute; 
      width:100px;
      height:100px;
      background-color: blueviolet;
      border: 5px solid #00f;
      text-align: center;
      top: 100px;
      left: 100px;
      z-index: 1;
      }

      #camada2{
      position: absolute; 
      width: 150px;
      height: 150px;
      background-color: rgb(183,255,0);
      border: 5px solid rgb(255,0,0);
      text-align: center;
      top: 150px;
      left: 150px;
      z-index: 2;
      }

      #camada3{
      position: absolute; 
      top: 250px;
      left: 250px;
      z-index: 3; 
      }


      
      