#fundo {
    position: relative;
    width: 800px;
    height: 700px;
    background-color: rgb(118, 164, 204);
    margin: auto;
    padding: 10;
    z-index: 1;

}

#camada1 {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: rgb(30, 23, 231);
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    float: left;

}

#camada2 {
    position: relative;
    width: 650px;
    height: 100px;
    background-color: rgb(253, 7, 7);
    color: #FFF;
    text-align: center;
    float: left;
    box-sizing: border-box;
}

#camada3 {
    position: relative;
    width: 800px;
    height: 50px;
    background-color: rgb(69, 253, 7);
    color: #FFF;
    text-align: center;
    clear: left;
    box-sizing: border-box;
}

#camada4 {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: rgb(241, 253, 7);
    color: #FFF;
    border: 5px solid red;
    text-align: center;
    box-sizing: border-box;
}

#camada5 {
    position: relative;
    width: 800px;
    height: 50px;
    background-color: rgb(126, 126, 126);
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
}